.results-container{
  display: flex;
  flex-direction: column;
}

.second-page-title{
  margin: auto;
  text-align: center;
  color: #CCCCCC;
  margin-bottom: 1%;
}

.back-button{
  font: bold 25px Arial;
  text-decoration: none;
  width: 10%;
  height: 10%;
  margin: auto;
  background: none;
  border-radius: 20px;
  color: whitesmoke;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;
  margin-bottom: 1%;
  transition-duration: 0.3s;
}

.back-button:hover{
  color: rgb(129, 129, 129);
  background: rgb(32, 32, 32);
}

.results-text{
  margin: auto;
  color: aliceblue;
}